/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
    text-align: left;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 198    ;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 0% 17%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: 0.3s;
}

.button:hover {
  background: #b9b9b9;
  color: #333;
  border: none;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding: 30px;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
  height: 90px;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo img {
    width: 100%;
    max-width: 190px;
}

a.logo {
    display: flex;
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.5s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.5s;
}

nav .menu ul {
  display: none;
}

nav .icon-whatsapp:before,
nav .icon-instagram:before{
    color: var(--base-color);
    margin-left: 25px;
    width: 30px;
    height: 30px;
}

.icon-instagram {
    width: 40px;
}

.icon-whatsapp {
    width: 35px;
    margin-right: 10px;
    animation: shake 10s infinite alternate;
}


nav .social-links {
    display: flex;
    align-items: center;

}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show .social-links {
    display: none;
}

nav.show ul.grid {
  gap: 3rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*---- MAIN SLIDER ---- */

.stack-slider {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.stack-slider__container {
    max-width: 800px;
    position: relative;
    margin-top: 160px;
}

.stack-slider__slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 30%);
    opacity: 1;
    transition: transform .5s, filter .5s;
    overflow: hidden;
    z-index: 0;

}

.stack-slider__slide--active {
    position: relative;
    background-color: white;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.stack-slider__img {
    width: 100%;
    height: auto;
    vertical-align: top;
    transition: .7s;
}

img.logo-arquiteto {
    max-width: 100px;
    position: absolute;
    bottom: 50px;
    right: 16px;
    opacity: 0;
    transition: 1s;
}



img.instagram-arquiteto {
    max-width: 40px;
    position: absolute;
    right: 43px;
    bottom: 10px;
    opacity: 0;
    border-radius: 5px;
    transition: 1s;
}



.active .stack-slider__img {
    filter: brightness(0.5);
}

.active .logo-arquiteto,
.active .instagram-arquiteto {
    opacity: 1;
}

.stack-slider__nav {
    margin: 30px auto 0;
    display: flex;
    align-items: center;
}

.stack-slider__prev,
.stack-slider__next {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: var(--base-color);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 30%);
    font-size: 20px;
    transition: background-color .3s, color .3s;
    cursor: pointer;
}

.slider-prev-icon {
    transform: rotate(180deg);
}

.stack-slider__prev:hover,
.stack-slider__next:hover{
    background-color: #b9b9b9;
    fill: #fff;
}

.stack-slider__pagination {
    margin: 0 5px;
    display: flex;
}

.stack-slider__bullet {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 30%);
    cursor: pointer;
}

.stack-slider__bullet:hover,
.stack-slider__bullet:hover{
    background-color: var(--base-color);
}

.stack-slider__bullet--active {
    background-color: var(--base-color);
}

.stack-slider__title {
    margin: 10px auto;
}

/*====  LOGIN-PAGE ============================ */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modal > div {
    width: 100%;
    max-width: 600px;
    height: auto;
    position: relative;
    margin: 50% auto 0;
    padding: 15px 20px;
    background-image: linear-gradient(hsl(0, 0%, 76%), #fff);
  }

  .login-label {
    display: block;
    text-align: center;
    margin: 10px auto 5px;
    font-weight: 300;
    font-size: 20px;
  }

  .login-input {
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 200px;
  }

  .login-input,
  .login-button {
    display: flex;
    margin: 0 auto;
  }

  .login-button {
    border: none;
    color: #fff;
    background-color: var(--base-color);
    border-radius: 10px;
    margin: 15px auto;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .login-logo {
    display: flex;
    justify-content: center;
  }

  .login-close {
    display: flex;
    justify-content: right;
  }

/*====  HOME ============================ */


#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}


#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}



/*====  ABOUT ============================ */
@keyframes shake {
    4.5%, 10.5% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    5% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    5.5% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    6% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    6.5% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    7% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    7.5% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    8% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    8.5% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    9% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    9.5% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    10% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-image: url(/assets/img/obra-galeria20.jpeg);
  background-position: center left;
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#about .stats {
    margin-top: 30px;
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 6rem;
    
    }
    
#about .stat h3 {
font-size: 4.8rem;
color: var(--headline-color);
line-height: 130%;
margin-bottom: 0.4rem;
}

#about .stat p {
margin: 0;
color: var(--primary-color);
font-size: 1.6rem;
line-height: 150%;
text-align: center;
}

/*====  SERVICES ============================ */

#services {
    padding: 30px 0;
}

#services p {
    text-align: left;
}

.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3rem 2rem 15px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card p {
    text-align: justify;
}

.service-img {
    width: 50px;
    height: 50px;
}

.card .title {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

#services .swiper-slide {
    height: auto;
    padding: 3rem 1rem;
}

.swiper-container-service,
.swiper-container-gerenciamento {
    position: relative;
}

.swiper-button-prev1,
.swiper-button-prev2 {
    position: absolute;
    top: 44%;
    left: 2px;
    z-index: 5;
    transform: rotate(180deg);
    cursor: pointer;
}

.swiper-button-next1,
.swiper-button-next2 {
    position: absolute;
    top: 45%;
    right: 2px;
    z-index: 5;
    cursor: pointer;
}

.slider-prev-icon1,
.slider-next-icon1 {
    max-width: 30px;
    transition: .2s;
}

.slider-prev-icon1:hover,
.slider-next-icon1:hover {
    transform: scale(110%);
}

.swiper-pagination-service,
.swiper-pagination-gerenciamento {
    display: flex;
    justify-content: center;
}

.service-gerenciamento {
    display: flex;
    justify-content: left;
    margin-top: 30px;
}


/* ---------- CONTRUCTIONS ========= */


.construction-title,
.construction-title2 {
    display: flex;
    justify-content: left;
    margin-top: 30px;
}


.construction-card {
    height: 300px;
    width: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
}

.construction-img {
    height: 100%;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.swiper-pagination-construction,
.swiper-pagination-finishing {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#constructions .swiper-slide {
    height: auto;
    padding: 1rem 1rem;
}

.construction-btn,
.construction-btn-finishing {
    max-width: 200px;
    display: flex;
    justify-content: center;
    margin: 20px auto ;
}

.construction-gallery,
.construction-gallery-finishing  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translatey(50%);
    grid-gap: 30px;
    opacity: 0;
    transition: .5s;
    height: 0px;
    pointer-events: none;
    overflow-y: hidden;
}



.construction-gallery.gallery-active,
.construction-gallery-finishing.gallery-active-finishing {
    transform: translatey(0%);
    opacity: 1;
    height: auto;
    pointer-events: all;
}

.construction-animation,
.construction-animation-finishing {
    height: 0px;
}

.gallery-show,
.gallery-show-finishing {
    height: auto;
}

.construction-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: .5s;
    box-shadow: 1px 2px 3px #000000;
}

.construction-gallery-img:hover {
    transform: scale(98%);
}
  
/*====  TESTIMONIALS ============================ */


#testimonials {
  background: white;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 3rem 1rem;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 30%);
    cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*====  CONTACT ============================ */

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

.contact .button {
    margin: 0 auto;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

.contact-img {
    width: 150px;
    border-radius: 50%;
    animation: float-bottom 8s ease-in-out infinite;
    animation-direction: alternate;
}

#contact ul li i {
    color: var(--base-color);
}

.links {
    display: flex;
    gap: 15px
}

.contact-qrcode-img {
    max-width: 85px;
}

/*====  FOOTER ============================ */
footer {
  background: var(--base-color);
  display: flex;
  padding: 15px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}


footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
  width: 300px;
}

.logo-footer {
    width: 100%;
    max-width: 200px;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
  align-items: center;
  margin-right: 50px;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
  margin-left: 10px;
}

footer .social a:hover {
  transform: translateY(-8px);
}

.logo-dev-img {
    width: 50px;
    height: auto;
}

/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section p {
    text-align: justify;
  }

  .section {
    padding: 5rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  nav .icon-whatsapp {
    margin-right: 25px;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* Login page */

  .modal > div {
    margin: 10% auto;
    border-radius: 7px;
  }

  /* home */

.stack-slider__container {
    margin-top: 20px;
}

.stack-slider__pagination {
    margin: 0 25px;
    display: flex;
}

.stack-slider__bullet {
    width: 16px;
    height: 16px;
    margin: 0 10px;
}

img.logo-arquiteto {
    max-width: 150px;
    bottom: 100px;
}

img.instagram-arquiteto {
    max-width: 85px;
    bottom: 35px;
}
  
  
  #home .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  #about .stats {
    flex-direction: row;
    gap: 0;
  }

  #about .stats .stat + .stat {
    border-left: 1px solid var(--base-color)
  }


  .stats .stat {
    text-align: center;
    padding: 30px;
    width: 280px;
    height: auto;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
    height: 320px;
  }

  .service-gerenciamento {
    justify-content: center;
  }

  /* construction */

  .construction-title,
  .construction-title2 {
    justify-content: center;
  }

  .construction-card {
    width: 100%;
    transition: .4s;
  }

  .construction-card:hover {
    transform: translateY(-2%) ;
  }

  .construction-gallery,
  .construction-gallery-finishing {
    grid-template-columns: repeat(4, 1fr);
  }

  /* testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
/* medium devices: 767 > */
